back-end-app/src/main/resources/xml-seme/Message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:include schemaLocation="Agent.xsd"/>
    <xs:include schemaLocation="User.xsd"/>
    <xs:element name="message">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="agent"/>
                <xs:element name="content" type="xs:string"/>
                <xs:element ref="user"/>
                <xs:element name="message-id" type="xs:int"/>
            </xs:sequence>
            <xs:attribute default="false" name="read" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
