data/Category_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="Category">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Category_ID" type="xs:int"/>
                <xs:element name="Category_Name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
