src/main/resources/xml-seme/Accomodation_type_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="accomodation-type">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="type-ID" type="xs:int"/>
                <xs:element name="type-name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
