src/main/resources/xml-seme/Review.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:include schemaLocation="User.xsd"/>
    <xs:include schemaLocation="Accomodation.xsd"/>
    <xs:element name="review">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="grade" type="xs:int"/>
                <xs:element ref="accomodation"/>
                <xs:element ref="user"/>
                <xs:element name="comment" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="allowed" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
